/* General Styling */
body { 
	margin: 0; 
}

/* Scrollbar Design*/
/* Firefox */
* {
scrollbar-width: thin;
scrollbar-color: #CBCBCB transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background-color: #FFF;
}

::-webkit-scrollbar-thumb {
background-color: #CBCBCB;
outline: 2px solid #FFF;
outline-offset: -2px;
border: 0.1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover {
background-color: #909090;
}

::-webkit-scrollbar-button {
	display: none;
	width: 0;
	height: 0;
}

/* Creates the top navbar */
.topnav {
	background-color: #2f4257;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 15px 30px;
	box-sizing: border-box;
}
.topnav a {
	color: white;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	color: #dfe8ed;
}

.container {
	display: flex;
	width: 100%;
}

.column {
	width: 50%;
	padding: 1rem;
	box-sizing: border-box;
}

#idname {
	color: white;
	text-align: left;
}

#pagename {
	text-align: right;
}

/* Your Devices at a Glance */
#DevicesBox{
	height: 50vh;
	max-height: 300px;
	background-color: #dfe8ed;
	border: 2px solid #a3b1ba;
  	border-radius: 10px;
  	padding: 15px;
  	margin-top: 10px;
  	overflow-y: auto;
  	box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Devices trying to connect box */
#DevicesTable {
	/* border: 2px solid black; */
	width: 100%;
	background-color: #dfe8ed;
	border: 2px solid #a3b1ba;
  	border-radius: 10px;
  	padding: 15px;
  	margin-top: 10px;
  	overflow-y: auto;
  	box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Devices trying to connect table */
#DevicesTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #a3b1ba;
	color: white;
}

/* Devices trying to connect table cells */
#DevicesTable td {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

/* Fill space under Devices trying to connect */
#DevicesConnected {
	overflow-y: auto;
	height: 50vh;
	background-color: #fffaf6;
}

#GraphBox {
	/*utline: 1px solid black;*/
	overflow-y: auto;
	height: 50vh;
	background-color: #dfe8ed;
	border: 2px solid #a3b1ba;
  	border-radius: 10px;
  	padding: 15px;
  	margin-top: 10px;
  	overflow-y: auto;
  	box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

